body{
  font-family: tahoma,arial;
}
.btn-play::before {
  position:absolute;
  top:50px;
  left:75px;
  content:'';
  border-top: 50px solid rgba(0, 0, 0, 0);
  border-bottom: 50px solid rgba(0, 0, 0, 0);
  border-left: 80px solid #333;
}

.btn-play{
  width:200px;
  height:200px;
  background-color:none;
  border-radius:50%;
  border:solid 10px #333;
  -webkit-transition:  box-shadow .25s ease-in-out;
  margin:0 auto;
  position: relative;
  margin-top: 2%;
}
.btn{
  width: 3em;
  height: 3em;
  border:solid 10px #333;
  border-radius:50%;
}
.btn:hover,.btn-play:hover{
  border-color: #666;
}
.btn-prev{
  float: left;
  position: relative;
}
.btn-next{
  position: relative;
  float: right;
}
.btn-prev::after{
  position:absolute;
  content:'';
  top:17px;
  left:22px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #333;
}
.btn-prev::before{
  position:absolute;
  content:'';
  top:17px;
  left:8px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-right: 15px solid #333;
}
.btn-next::after{
  position:absolute;
  content:'';
  top:17px;
  left:24px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #333;
}
.btn-next::before{
  position:absolute;
  content:'';
  top:17px;
  left:10px;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  border-left: 15px solid #333;
}

.player-container{
  margin:0 auto;
  background-color: #ddd;
  padding: 4em;
  border-radius:10px;
  display:table;

}


/*.btn-play:hover{
  box-shadow: 0px 0px 10px black;
}*/

.btn-play.pause::before {
  position:absolute;
  left:70px;
  top:50px;
  content:' ';
  border:none;
  width:20px;
  height:100px;
  background-color:#333;
}
.btn-play.pause::after {
  position:absolute;
  left:115px;
  top:50px;
  content:' ';
  border:none;
  width:20px;
  height:100px;
  background-color:#333;
}
.songlist{
  margin: 0 auto;
  display: table;
  margin-top: 1em;
  width: 350px;
  border-radius: 10px;
}
.songlist>ul{
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;

}
.songlist>ul>li{
  font-size: 0.8em;

    padding: 1em;
    background-color: #eee;
    margin-bottom: 1px;
}
.songlist>ul>li.playing{
  background-color: #ddd;
}